go 1.20

use (
	./array
	./atomtic/value
	./chan/chat
	./context/withCancel
	./context/withTimeout
	./file
	./for
	./func
	./http/firsthttp
	./inherit/combinationinterface
	./inherit/combinationstruct
	./inherit/testinherit
	./interface/retv
	./interface/usb
	./iota
	./json2struct
	./jwt
	./makeToken
	./map/multireadwrite
	./map/test
	./pathtest
	./pointer
	./routine/worker4
	./rune
	./slice
	./struct2json
	./switch
	./sync/datarace
	./sync/mutex
	./sync/rwmutex
	./timer
)
